<?xml version="1.0"?>

<launch>

	<!-- publish various messages -->
	<node pkg="slider_publisher" exec="slider_publisher" name="publisher">
		<param name="config" value="$(find-pkg-share localization_msgs_tools)/example/sliders.yaml"/>
	</node>

	<!-- run with_covariance with the config file -->
	<node pkg="localization_msgs_tools" exec="with_covariance" name="with_covariance">
		<param from="$(find-pkg-share localization_msgs_tools)/example/with_covariance.yaml"/>
	</node>



</launch>
